DATABASE_URL=
DATABASE_URL_UNPOOLED=
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_BASEMAP_STYLE=
NEXT_PUBLIC_BASEMAP_URL=
NEXT_PUBLIC_BASEMAP_GLYPHS=
NEXT_PUBLIC_MAP_CENTER=-73.98,40.75
NEXT_PUBLIC_GOOGLE_3D_TILES_KEY=
NYC_OPEN_DATA_APP_TOKEN=
